    <div class="pb-0 pb-sm-2">
            <h1 class="title title--h1 title__separate">About Me</h1>
            <p>I'm Creative Director and UI/UX Designer from Sydney, Australia, working in web development and print media. I enjoy turning complex problems into simple, beautiful and intuitive designs.</p>
            <p>My job is to build your website so that it is functional and user-friendly but at the same time attractive. Moreover, I add personal touch to your product and make sure that is eye-catching and easy to use. My aim is to bring
                across your message and identity in the most creative way. I created web design for many famous brand companies.</p>
        </div>

        <!-- What -->
        <div class="box-inner pb-0">
            <h2 class="title title--h3">What I'm Doing</h2>
            <div class="row">
                <!-- Case Item -->
                <div class="col-12 col-lg-6" *ngFor="let do of doing">
                    <div class="case-item box box__second" >
                        <img class="case-item__icon" src="{{do.img}}" alt="" />
                        <div>
                            <h3 class="title title--h5">{{do.textf}}</h3>
                            <p class="case-item__caption">{{do.texts}}</p>
                        </div>
                    </div>
                </div>

               
            </div>
        </div>

        <!-- Testimonials -->
        <div class="box-inner box-inner--white">
            <h2 class="title title--h3">Testimonials</h2>



            <swiper *ngIf="type == 'component' && show" class="swiper-container js-carousel-review" fxFlex="auto" [config]="config" [disabled]="disabled" (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')" (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
                <div *ngFor="let slide of slides" class="swiper-slide review-item">
                  <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill >
                        <img src="{{slide.img}}" alt="" class="">
                        <h4 class="title title--h5">{{slide.textf}}</h4>
                        <p class="review-item__caption">{{slide.texts}}</p>

                  </div>
                </div>
            </swiper>
            <div class="swiper-pagination" [hidden]="config.pagination === false"></div>
      
            
         
        </div>