<div class="circle-menu">
        <div class="hamburger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
    <div class="inner-menu">
        <ul class="nav">
            <li class="nav__item" [routerLinkActive]="['active']"><a [routerLink]="['/']">About</a></li>
            <li class="nav__item" [routerLinkActive]="['active']"><a [routerLink]="['/resume']">Resume</a></li>
            <li class="nav__item" [routerLinkActive]="['active']"><a [routerLink]="['/portfolio']">Portfolio</a></li>
            <li class="nav__item" [routerLinkActive]="['active']"><a [routerLink]="['/blog']">Blog</a></li>
            <li class="nav__item" [routerLinkActive]="['active']"><a [routerLink]="['/contact']">Contact</a></li>
        </ul>
    </div>