<div class="pb-2">
  <h1 class="title title--h1 title__separate">Portfolio</h1>
</div>

<!-- Gallery -->
<div class="pb-0">
  <!-- Filter -->
  <div class="select">
    <span class="placeholder">Select category</span>
  </div>

  <!-- Content -->
  <div class="gallery-grid js-masonry js-filter-container">

    <!-- Item 1 -->
    <div class="row">

      <!-- <div class="col-4" *ngFor='let gal of gallery'>
        <isotope-grid class="gallery-grid__item category-concept">
          <isotope-item class="gallery-grid__image-wrap">
            <div class="img-content">
              <img class="gallery-grid__image cover lazyload" src="{{gal.img}}" data-zoom-src="../../assets/images/image_01.jpg" alt="" class="zoom-default"/>
            </div>
            <h4 class="title gallery-grid__title">{{gal.fname}}</h4>
            <span class="gallery-grid__category">{{gal.sname}}</span>
          </isotope-item>
        </isotope-grid>
      </div> -->

      <div class="col-4">
            <isotope-grid class="gallery-grid__item category-concept">
              <isotope-item class="gallery-grid__image-wrap">
                <div class="img-content">
                  <img class="gallery-grid__image cover lazyload" src="../../assets/images/image_01.jpg"  data-zoom-src="../../assets/images/image_01.jpg"  alt="" id="zoom-default" />
                </div>
                <h4 class="title gallery-grid__title">Half</h4>
                <span class="gallery-grid__category">Concept</span>
              </isotope-item>
            </isotope-grid>
          </div>
      <div class="col-4">
            <isotope-grid class="gallery-grid__item category-concept">
              <isotope-item class="gallery-grid__image-wrap">
                <div class="img-content">
                  <img class="gallery-grid__image cover lazyload" src="../../assets/images/image_01.jpg"  data-zoom-src="../../assets/images/image_01.jpg"  alt="" id="zoom-default" />
                </div>
                <h4 class="title gallery-grid__title">Half</h4>
                <span class="gallery-grid__category">Concept</span>
              </isotope-item>
            </isotope-grid>
          </div>
 
      <div class="col-4">
            <isotope-grid class="gallery-grid__item category-concept">
              <isotope-item class="gallery-grid__image-wrap">
                <div class="img-content">
                  <img class="gallery-grid__image cover lazyload" src="../../assets/images/image_01.jpg"  data-zoom-src="../../assets/images/image_01.jpg"  alt="" id="zoom-default" />
                </div>
                <h4 class="title gallery-grid__title">Half</h4>
                <span class="gallery-grid__category">Concept</span>
              </isotope-item>
            </isotope-grid>
          </div>

    </div>

  </div>
</div>
